[Unit]
Description=Prosody is a lua-based Jabber(XMPP)-server
After=ddclient.service
After=network.target

[Service]
Type=forking
PIDFile=/run/prosody/prosody.pid
ExecStartPre=/bin/mkdir -p /run/prosody/
ExecStartPre=/bin/chown prosody:prosody /run/prosody
ExecStart=/usr/bin/prosodyctl start
ExecStop=/usr/bin/prosodyctl stop

[Install]
WantedBy=multi-user.target
